@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

body {
    font-family: "Open Sans", sans-serif !important;
}

i[class^='fi-'],i[class*=' fi-'] {
    font-size: 16px;
}

#home-page .content a.button {
    width: 100%;
}

#home-page .content i {
    padding-right: 10px;
}
