@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

body {
    font-family: "Open Sans", sans-serif !important;
}

i[class^='fi-'], i[class*=' fi-'] {
    font-size: 16px;
}

input[readonly] {
    color: #999999;
}

#home-page .content a.button {
    width: 100%;
}

#home-page .content i {
    padding-right: 10px;
}

#create-ascent-page input[name='tries'] {
    width: 5em;
    display: inline-block;
}

#create-ascent-page label[for='tries'] {
    display: inline-block;
    margin-left: 0.5em;
}

#create-boulder-page input[name="x"], #create-boulder-page input[name="y"] {
    width: 12em;
    display: inline-block;
    margin-right: 2em;
}

#create-boulder-page label[for="x"], #create-boulder-page label[for="y"] {
    width: 1em;
    display: inline-block;
}

.boulder-location-map {
    position: relative;
    margin-bottom: 30px;
}


.boulder-location-map .map {
    height: 40em;
}

/*.boulder-location-map .boulder-marker {*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*position: absolute;*/
    /*transform-origin: 43.4099154% 99.0834539%;*/
    /*-webkit-transform-origin: 43.4099154% 99.0834539%;*/
/*}*/

/*.boulder-location-map input[type=radio] {*/
    /*color: inherit;*/
    /*cursor: pointer;*/
    /*margin: 0;*/

    /*position: absolute;*/
    /*left: -5px;*/
    /*top: -32px;*/
/*}*/

.boulder-location-map .boulder-marker i {
    font-size: 50px;

     /*centers hole of marker symbol on radio button*/
    position: absolute;
    left: -13px;
    top: -45px;

    width: 30px;
    height: 45px;

    margin: 0;

    display: inline-block;
}

.boulder-location-map .boulder-marker {
    opacity: 0.8;
}

.boulder-location-map .boulder-marker.chosen {
    opacity: 1.0;
    z-index: 1;
}

.boulder-location-map .boulder-marker.chosen input {
    /* move input button to front, otherwise it is covered by label text shadow which does not look so nice */
    z-index: 1;
}

.boulder-location-map .boulder-marker:hover {
    opacity: 1.0;
}